body{

    background:hsl(262, 18%, 12%);
    
}

.main{

    background: url(images/bg-stars.svg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Red Hat Text', sans-serif;

    
}

.background-hill{

    background: url(images/pattern-hills.svg);
    background-size: cover;
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;

}

.badge{

    position: absolute;
    top: 150px;
    font-size: 1.7em;
    font-style: italic;
 

}

.clock{

    display: flex;
    font-size: 3.5rem;
    color: hsl(345, 95%, 68%);
    font-weight: 700;
}


#minute{

    margin-left: 13px;
    margin-right: 13px;
}